@import 'utils';
.header-container {
    @include centerFlex;
    width: 100%;
    height: 3.75em;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid $light;
}

.logo-container {
    @include centerFlex;
    text-decoration: none;
    color: #131313;
}