@import 'utils';
.input-display-container {
    @include grid1;
    border: 1px solid #e7e5e5;
    margin-bottom: 5px;
}

.input-label {
    @include centerFlex;
    font-family: $rob;
    background: none;
}

.calc-input {
    @include centerFlex;
    width: 100%;
    margin: auto;
    padding: 8px 20px;
    font-family: $rob;
    font-size: 1.4rem;
    border: none;
    background: none;
}