@import 'utils';
.input-display-container {
    @include grid1;
}

.input-label {
    @include centerFlex;
    font-family: $rob;
}

.calc-input {
    @include centerFlex;
    width: 100%;
    margin: auto;
    padding: 8px 20px;
    font-family: $rob;
    font-size: 1.4rem;
}