@media screen and (max-width: 1024px) {
    .solution-display {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .explorer-container {
        width: 37.5rem;
        height: 100%;
    }
    .calc-set {
        width: 37.5rem;
        height: 100%;
    }
    .menu-icon {
        width: 11.25rem;
        height: 11.25rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 540px) {
    .explorer-container {
        width: 31.25rem;
        height: 100%;
    }
    .calc-set {
        width: 31.25rem;
        height: 100%;
    }
    .menu-icon {
        width: 9rem;
        height: 9rem;
        font-size: 1rem;
    }
}